.create {
  border: none;
}

.create-btn {
  width: 100px;
  height: 62px;
  background-color: mediumseagreen;
}

.description {
  display: flex;
  justify-content: space-around;
}

.description:focus {
  outline: none;
}

.cancel {
  display: flex;
}

.textarea {
  -webkit-appearance: button !important;
}
