.create {
  border: none;
}

.create-btn {
  width: 100px;
  height: 62px;
}

.ant-btn.create-btn {
  background: #0c6055;
}

.description {
  display: flex;
  justify-content: space-around;
}

.description:focus {
  outline: none;
}

.cancel {
  display: flex;
}

.textarea {
  -webkit-appearance: button !important;
}

.cancel-button {
  background: #ff4d4f;
  color: white;
}