.create {
  width: 80%;
  background-color: dimgrey;
  color: dimgrey;
}

.create:hover {
  margin-top: -5%;
  width: 100%;
}

.description {
  display: flex;
  justify-content: space-around;
}

.description:focus {
  outline: none;
}

.cancel {
  display: flex;
}

.ant-input {
  color: mediumseagreen;
}
