.ant-card-actions {
  background: none;
  border: none;
  padding-bottom: 10px;
}

.ant-col-6 {
  flex: 0 0 20%;
}

.ant-statistic-title {
  margin: 11px 11px 0 0;
}

.ant-card-head {
  font-size: 25px;
}

.anticon,
.ant-card-actions>li>span>.anticon {
  font-size: 30px;
}

.meta-desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.meta-desc-icon {
  width: 9%;
  font-size: 20px;
}

.meta-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.ant-card-head-title {
  display: flex;
}

.ant-card-head {
  border-color: rgba(0, 0, 0, 0.65);
}

.ant-typography-edit-content {
  font-size: 50px;
  width: 100%;
}

.anticon-edit {
  color: rgba(0, 0, 0, 0.65);
  margin-top: 20%;
}

.anticon-stop {
  margin: -3px 10px 0 0;
}

.anticon-bell {
  margin: -3px 0 0 10px;
  float: right;
}

.anticon-user {
  float: right;
}

.ant-card-cover {
  padding: 5% 2% 0 0;
}

.ant-card-actions>li>span {
  display: flex;
  justify-content: center;
}

.ant-card-actions>li>span>.anticon:hover {
  color: rgba(0, 0, 0, 0.65);
}

.ant-picker-dropdown {
  left: 770px !important;
}

.ant-btn {
  background: none;
  border: none;
}

.ant-btn:focus,
.ant-btn:hover {
  background: seagreen;
  border-color: seagreen;
  color: rgba(0, 0, 0, 0.65);
}

.ant-input,
.ant-input:active,
.ant-input:focus,
.textarea.ant-input:focus {
  border: none;
  background-color: inherit;
}

.ant-typography-edit,
.ant-typography-edit:focus,
.ant-typography-edit:hover {
  border: none !important;
  background-color: inherit !important;
  color: seagreen;
}

div.ant-typography {
  margin-bottom: 0em;
}

div.ant-typography-edit-content {
  left: 0px;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-cell-inner:hover {
  background: seagreen !important;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border-color: seagreen;
}

.ant-picker-today-btn,
.ant-picker-today-btn:hover {
  color: seagreen;
}

.ant-picker-suffix,
.ant-picker-input {
  color: rgba(0, 0, 0, 0.65);
}

.ant-picker-input>input {
  text-align: end;
  margin-right: 2%;
  color: rgba(0, 0, 0, 0.65);
}

.ant-picker-clear {
  background: none;
  top: 55%;
  right: 185px;
}

.ant-card {
  border-radius: 2%;
}

.ant-col-6 {
  margin: 1%;
}

.ant-btn-sm,
.ant-btn:disabled .ant-btn:disabled:hover {
  background: seagreen !important;
  color: white;
}

.ant-picker-now-btn {
  color: seagreen;
}

.ant-picker-input>input {
  color: mediumseagreen;
}

.ant-modal,
.ant-modal-body {
  padding: 0;
}

.ant-modal {
  border-radius: 10px;
}

.ant-picker-time-panel-column>li.ant-picker-time-panel-cell-selected>.ant-picker-time-panel-cell-inner {
  background: seagreen;
}

.ant-input {
  font-size: 25px;
  color: seagreen;
}

.ant-input:placeholder-shown {
  color: seagreen;
}

.ant-modal-content {
  background: none;
}
