.hippo {
  display: flex;
  justify-content: center;
  margin: 0 4%;
  font-size: 95px !important;
  z-index: 1;
  animation: float 3s ease-out infinite;
}

@keyframes float {
  50% {
    transform: translate(0, 20px);
  }
}

.page-header {
  display: flex;
  justify-content: center;
  height: 150px;
  padding-top: 2%;
  background-color: #237673;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title > h1 {
  text-align: center;
  color: #e1ffff;
  letter-spacing: 1.5vw;
  user-select: none;
  font-size: 1.5em;
}
