.hippo {
  display: flex;
  justify-content: center;
  margin: 0 4%;
  font-size: 95px !important;
  z-index: 1;
  animation: float 3s ease-out infinite;
}

@keyframes float {
  50% {
    transform: translate(0, 20px);
  }
}

.page-header {
  display: flex;
  justify-content: center;
  height: 130px;
  padding-top: 1%;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title > h1 {
  text-align: center;
  color: seagreen;
  letter-spacing: 20px;
  user-select: none;
}

