.menu {
  margin: 1% 1%;
}

.container {
  padding: 2%;
  margin: 2%;
  font-family: monospace;
  overflow: hidden;
  background: none;
}

.header {
  padding: 2% 7% 0;
  background: none;
  height: 130px;
}

.create-btn>h1 {
  color: white;
}

.header>* {
  height: 62px;
}

.header>input {
  width: 250px;
}