.menu {
    margin: 1% 1%;
}

.container {
    padding: 0 2% 2%;
    margin: 0 2%;
    font-family: monospace;
    overflow: hidden;
    background: none;
}

.header {
    padding: 4% 7% 1%;
    background: none;
    height: 5rem;
}

.header > input {
    width: 250px;
}
