.reminder {
  width: 80%;
  background-color: mediumseagreen;
}

.reminder > div.ant-card-cover {
  height: 125px;
}

.reminder > div,
.counter {
  color: rgba(0, 0, 0, 0.65);
}

.counter {
  display: flex;
  justify-content: flex-end;
}

.button.ant-btn:hover {
  color: white;
  background: seagreen;
}

.button.ant-btn-dangerous:hover {
  background: #ff4d4f;
}