.reminder {
  width: 80%;
  background-color: mediumseagreen;
}

/* .reminder:hover {
  margin-top: -5%;
  width: 100%;
} */

.reminder > div,
.counter {
  color: rgba(0, 0, 0, 0.65);
}

.counter {
  display: flex;
  justify-content: flex-end;
  padding-right: 4%;
}
