.col {
    display: flex;
    justify-content: center;
}

.row {
    justify-content: center;
}

.no-reminders {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
