.col {
  display: flex;
  justify-content: center;
  margin-left: -20px;
  margin-right: -20px;
}

.grid {
  justify-content: center;
  margin-left: -65px !important;
  margin-right: -65px !important;
}

.no-reminders {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}
